* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #f7f7fa;
}

/* .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
} */

.card {
  background-color: #ffffff;
  padding: 2rem;
  margin: 0.5rem;
  width: 20%;
  height: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image {
  width: 100%;
  padding: 25px;
}


button {
  background-color: #ffffff;
  padding: 15px;
  margin: 2rem;
  cursor: pointer;
}

/* p {
  padding: 5px;
} */

@media screen and (max-width: 786px) {

  /* .container {
    flex-direction: column;
  } */
  .card {
    width: 100%;
  }
}